<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
	<!--本地仓库地址-->
	<localRepository>D:\MavenRepository</localRepository>
	<interactiveMode>true</interactiveMode>
	<usePluginRegistry>false</usePluginRegistry>
	<offline>false</offline>
	<pluginGroups/>
	<servers/>
	<mirrors>
		<mirror>
			<id>alimaven</id>
			<mirrorOf>central</mirrorOf>
			<name>aliyun maven</name>
			<url>http://maven.aliyun.com/nexus/content/repositories/central/</url>
		</mirror>
		<mirror>
			<id>alimaven</id>
			<name>aliyun maven</name>
			<url>http://maven.aliyun.com/nexus/content/groups/public/</url>
			<mirrorOf>central</mirrorOf>
		</mirror>
		<!-- 中国的开源库open source china-->
		<mirror>
			<id>osc</id>
			<mirrorOf>*</mirrorOf>
			<url>http://maven.oschina.net/content/groups/public/</url>
		</mirror>
		<!-- 中央仓库1 -->
		<mirror>
				<id>repo1</id>
				<mirrorOf>central</mirrorOf>
				<name>Human Readable Name for this Mirror.</name>
				<url>https://repo1.maven.org/maven2/</url>
		</mirror>
		
	</mirrors>
    <Profiles/>
</settings>